@font-face {
  font-family: "LINE Seed JP App_OTF";
  src: url("./LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  color: #59383b;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: #fffae7;
  font-size: 16px;
  font-weight: 500;
}

a {
  transition: all 0.3s ease;
}
a:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (min-width: 900px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
.l-inner {
  padding-inline: 20px;
  margin-inline: auto;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .l-inner {
    padding-inline: 40px;
  }
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1160px;
  }
}

.button {
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  padding: 12px 22px 12px 36px;
  border-radius: 33px;
  background: #ff6b35;
  box-shadow: 3px 3px 0px 0px #59383b;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
}
.button::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/fluent_animal-paw-print-16-filled.png) no-repeat center center/contain;
  padding-right: 20px;
}
.button::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/uil_arrow-up.png) no-repeat center center/contain;
  padding-left: 24px;
}
.button:hover {
  opacity: 0.9;
  box-shadow: none;
  top: 3px;
  left: 3px;
}
.button:focus {
  outline: none;
}

.button2 {
  font-size: 32px;
  padding: 12px 42px 12px 66px;
  border-radius: 40px;
}
.button2::before {
  content: "";
  width: 28px;
  height: 28px;
  padding-right: 28px;
}
.button2::after {
  content: "";
  width: 30px;
  height: 30px;
  padding-left: 30px;
}

.button3 {
  padding: 20px 22px 20px 36px;
}

.section-heading {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-heading__ja {
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
}
.section-heading__ja::before {
  content: "";
  width: 48px;
  height: 48px;
  background: url(../img/heading-paw-l.png) no-repeat center center/contain;
  padding-right: 48px;
}
.section-heading__ja::after {
  content: "";
  width: 48px;
  height: 48px;
  background: url(../img/heading-paw-r.png) no-repeat center center/contain;
  padding-left: 48px;
}

.section-heading__en {
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.7px;
  position: relative;
}
.section-heading__en::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 8px;
  background: url(../img/heading-dot.png) no-repeat center center/contain;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.news__button {
  font-size: 14px;
  line-height: normal;
  display: block;
  justify-self: end;
  padding-inline: 4px;
  border-bottom: 1px solid #000;
}

@keyframes fx-yurayura-rotate {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
.yurayura-parent.animate::after {
  transform-origin: center bottom;
  animation: fx-yurayura-rotate 1.2s ease-in-out 0s 3.5;
}

.animated__fadeIn {
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.animated__fadeIn.js-show {
  opacity: 1;
}

.l-main {
  padding-block-start: 90px;
  min-height: 100vh;
}

.news {
  padding-block: 72px;
}

.news__container {
  margin-top: 48px;
  border-radius: 30px;
  border: 3px solid #6cb740;
  background: #fff;
  padding: 20px;
  z-index: -2;
  position: relative;
}
@media screen and (min-width: 600px) {
  .news__container {
    padding: 32px 40px;
  }
}
@media screen and (min-width: 900px) {
  .news__container {
    padding: 32px 60px;
  }
}
.news__container::after {
  content: "";
  position: absolute;
  width: 98px;
  height: 135px;
  background: url(../img/news-image.png) no-repeat center center/contain;
  bottom: -70px;
  right: 170px;
  z-index: -1;
}
@media screen and (min-width: 900px) {
  .news__container::after {
    bottom: -60px;
  }
}
@media screen and (min-width: 1080px) {
  .news__container::after {
    bottom: -46px;
  }
}

.news__container-inner {
  width: 100%;
  position: relative;
  z-index: 1;
}

.news__link {
  width: 100%;
  padding-block: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.news__link:not(:last-of-type) {
  border-bottom: 1px solid #ebe6e6;
}

.news__info {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news__date {
  line-height: normal;
}

.news__category {
  color: #fff;
  font-size: 12px;
  line-height: normal;
  padding: 4px 20px;
  background: #ff9256;
  min-width: 112px;
  text-align: center;
  margin-left: 20px;
}
@media screen and (min-width: 900px) {
  .news__category {
    margin-left: 20px;
  }
}

.news__title {
  line-height: normal;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .news__title {
    margin-left: 20px;
  }
}
@media screen and (min-width: 900px) {
  .news__title {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1080px) {
  .news__title {
    margin-left: 64px;
  }
}