@font-face {
  font-family: "LINE Seed JP App_OTF";
  src: url("./LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  color: #59383b;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: #fffae7;
  font-size: 16px;
  font-weight: 500;
}

a {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (min-width: 900px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
.section__inner {
  padding-inline: 20px;
  margin-inline: auto;
  width: 100%;
}
@media screen and (min-width: 600px) {
  .section__inner {
    padding-inline: 40px;
  }
}
@media screen and (min-width: 768px) {
  .section__inner {
    max-width: 1160px;
  }
}

.button {
  color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  padding: 12px 22px 12px 36px;
  border-radius: 33px;
  background: #ff6b35;
  -webkit-box-shadow: 3px 3px 0px 0px #59383b;
          box-shadow: 3px 3px 0px 0px #59383b;
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../img/fluent_animal-paw-print-16-filled.png) no-repeat center center/contain;
  padding-right: 20px;
}
.button::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/uil_arrow-up.png) no-repeat center center/contain;
  padding-left: 24px;
}
.button:hover {
  opacity: 0.9;
  -webkit-box-shadow: none;
          box-shadow: none;
  top: 3px;
  left: 3px;
}
.button:focus {
  outline: none;
}

.button2 {
  font-size: 32px;
  padding: 12px 42px 12px 66px;
  border-radius: 40px;
}
.button2::before {
  content: "";
  width: 28px;
  height: 28px;
  padding-right: 28px;
}
.button2::after {
  content: "";
  width: 30px;
  height: 30px;
  padding-left: 30px;
}

.button3 {
  padding: 20px 22px 20px 36px;
}

.section__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__heading-ja {
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section__heading-ja::before {
  content: "";
  width: 48px;
  height: 48px;
  background: url(../img/heading-paw-l.png) no-repeat center center/contain;
  padding-right: 48px;
}
.section__heading-ja::after {
  content: "";
  width: 48px;
  height: 48px;
  background: url(../img/heading-paw-r.png) no-repeat center center/contain;
  padding-left: 48px;
}

.section__heading-en {
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.7px;
  position: relative;
}
.section__heading-en::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 8px;
  background: url(../img/heading-dot.png) no-repeat center center/contain;
  top: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@-webkit-keyframes fx-yurayura-rotate {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
@keyframes fx-yurayura-rotate {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  100% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}
.yurayura__parent.animate::after {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-animation: fx-yurayura-rotate 1.2s ease-in-out 0s 3.5;
  animation: fx-yurayura-rotate 1.2s ease-in-out 0s 3.5;
}

.animated__fadeIn {
  opacity: 0;
  -webkit-transition: opacity 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
  transition: opacity 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.animated__fadeIn.js-show {
  opacity: 1;
}

.header {
  background: rgba(255, 255, 255, 0.4);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10000;
}

.header__logo a img {
  width: 179px;
  display: block;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 72px 71px;
  padding-block: 18px;
  max-width: 1357px;
  margin-left: auto;
  margin-right: auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header__link {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.48px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.header__link:hover {
  color: #f5810e;
}

.main {
  -webkit-padding-before: 90px;
  padding-block-start: 90px;
  min-height: 100vh;
}

.news {
  padding-block: 72px;
}

.news__container {
  margin-top: 48px;
  border-radius: 30px;
  border: 3px solid #6cb740;
  background: #fff;
  padding: 20px;
  position: relative;
}
@media screen and (min-width: 600px) {
  .news__container {
    padding: 32px 40px;
  }
}
@media screen and (min-width: 900px) {
  .news__container {
    padding: 32px 60px;
  }
}
.news__container::after {
  content: "";
  position: absolute;
  width: 98px;
  height: 135px;
  background: url(../img/news-image.png) no-repeat center center/contain;
  bottom: -70px;
  right: 170px;
  z-index: 1;
}
@media screen and (min-width: 900px) {
  .news__container::after {
    bottom: -60px;
  }
}
@media screen and (min-width: 1080px) {
  .news__container::after {
    bottom: -46px;
  }
}

.news__container-inner {
  width: 100%;
}

.news__link {
  width: 100%;
  padding-block: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.news__link:not(:last-of-type) {
  border-bottom: 1px solid #ebe6e6;
}

.news__info {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__date {
  line-height: normal;
}

.news__category {
  color: #fff;
  font-size: 12px;
  line-height: normal;
  padding: 4px 20px;
  background: #ff9256;
  min-width: 112px;
  text-align: center;
  margin-left: 20px;
}
@media screen and (min-width: 900px) {
  .news__category {
    margin-left: 20px;
  }
}

.news__title {
  line-height: normal;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .news__title {
    margin-left: 20px;
  }
}
@media screen and (min-width: 900px) {
  .news__title {
    margin-left: 40px;
  }
}
@media screen and (min-width: 1080px) {
  .news__title {
    margin-left: 64px;
  }
}

.news__button {
  font-size: 14px;
  line-height: normal;
  display: block;
  justify-self: end;
  padding-inline: 4px;
  border-bottom: 1px solid #000;
}

.contents {
  padding-block: 100px 124px;
}

.contents__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.contents__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.contents__card-image {
  aspect-ratio: 500/400;
}