@use "sass:map";

//=====================================
//breakpoint
//=====================================

$breakpoints: (
  sm: "screen and (min-width: 600px)",
  md: "screen and (min-width: 768px)",
  lg: "screen and (min-width: 900px)",
  xl: "screen and (min-width: 1080px)",
);

@mixin mq($breakpoint: sp) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}

//=====================================
//color
//=====================================

$color-text: #59383b;
$color-header-text: #491700;
$color-text-white: #fff;
$color-bg: #fffae7;

//=====================================
//font設定(copyright用)
//=====================================

@font-face {
  font-family: "LINE Seed JP App_OTF";
  src: url("./LINESeedJP_OTF_Bd.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

//=====================================
//font
//=====================================

$ff-base: "M PLUS Rounded 1c", sans-serif;
$ff-en: "LINE Seed JP App_OTF";
$font-base: 14px;

//=====================================
//レイアウト
//=====================================

//inner
$sp-padding: 20px;
$pc-padding: 40px;

//z-index
$index-header: 100;
$index-drawerIcon: 102;
$index-drawer: 101;

//=====================================
//ベース
//=====================================

body {
  color: $color-text;
  font-family: $ff-base;
  background: $color-bg;
  font-size: 16px;
  font-weight: 500;
}

a {
  transition: all 0.3s ease;
  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

@include mq(lg) {
  //pcではtelかけられないように
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}

//=====================================
//common(共通パーツ)
//=====================================
//--inner--//
.l-inner {
  padding-inline: $sp-padding;
  margin-inline: auto;
  width: 100%;

  @include mq(sm) {
    padding-inline: $pc-padding;
  }

  @include mq(md) {
    max-width: calc(1080px + $pc-padding * 2);
  }
}

//--header,footer用--//
.button {
  color: $color-text-white;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  padding: 12px 22px 12px 36px;
  border-radius: 33px;
  background: #ff6b35;
  box-shadow: 3px 3px 0px 0px $color-text;
  position: relative; // 追加：位置を制御するために相対位置に設定
  top: 0; // 追加：初期位置
  left: 0; // 追加：初期位置
  transition: all 0.3s ease; // 追加：アニメーション効果

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    background: url(../img/fluent_animal-paw-print-16-filled.png) no-repeat
      center center / contain;
    padding-right: 20px;
  }

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    background: url(../img/uil_arrow-up.png) no-repeat center center / contain;
    padding-left: 24px;
  }

  &:hover {
    opacity: 0.9; // オプション：ホバー時に少し透明にする
    box-shadow: none;
    top: 3px; // 追加：下に3px移動
    left: 3px; // 追加：右に3px移動
  }

  &:focus {
    outline: none; // フォーカス時のブラウザデフォルトのアウトラインを消す
  }
}

//--チケットセクション用--//
.button2 {
  font-size: 32px;
  padding: 12px 42px 12px 66px;
  border-radius: 40px;

  &::before {
    content: "";
    width: 28px;
    height: 28px;
    padding-right: 28px;
  }

  &::after {
    content: "";
    width: 30px;
    height: 30px;
    padding-left: 30px;
  }
}

//--drawer用--//
.button3 {
  padding: 20px 22px 20px 36px;
}

//--heading--//
.section-heading {
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-heading__ja {
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    width: 48px;
    height: 48px;
    background: url(../img/heading-paw-l.png) no-repeat center center / contain;
    padding-right: 48px;
  }
  &::after {
    content: "";
    width: 48px;
    height: 48px;
    background: url(../img/heading-paw-r.png) no-repeat center center / contain;
    padding-left: 48px;
  }
}

.section-heading__en {
  font-size: 14px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0.7px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 8px;
    background: url(../img/heading-dot.png) no-repeat center center / contain;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.news__button {
  font-size: 14px;
  line-height: normal;
  display: block;
  justify-self: end;
  padding-inline: 4px;
  border-bottom: 1px solid #000;
}

//====================================
//揺れるアニメーション
//====================================

@keyframes fx-yurayura-rotate {
  0% { transform: rotate(-10deg); }
  50% { transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

// 親要素に付ける共通クラス
.yurayura-parent {
  &.animate {
    &::after {
      transform-origin: center bottom; // 回転の中心点を要素の底部中央に設定
      animation: fx-yurayura-rotate 1.2s ease-in-out 0s 3.5;
    }
  }
}
//====================================
//フェードイン
//====================================

.animated__fadeIn {
  opacity: 0;
  transition: opacity 1.5s cubic-bezier(0.25, 0.1, 0.25, 1);

  &.js-show {
    opacity: 1;
  }
}

//=====================================
//header
//=====================================

//=====================================
//main
//=====================================
.l-main {
  padding-block-start: 90px;
  min-height: 100vh;
}

//=====================================
//fv
//=====================================

//=====================================
//news
//=====================================
.news {
  padding-block: 72px;
}

.news__container {
  margin-top: 48px;
  border-radius: 30px;
  border: 3px solid #6cb740;
  background: $color-text-white;
  padding: 20px;
  z-index: -2;
  position: relative;
  @include mq(sm) {
    padding: 32px 40px;
  }
  @include mq(lg) {
    padding: 32px 60px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 98px;
    height: 135px;
    background: url(../img/news-image.png) no-repeat center center/contain;
    bottom: -70px;
    right: 170px;
    z-index: -1;

    @include mq(lg) {
      bottom: -60px;
    }
    @include mq(xl) {
      bottom: -46px;
    }
  }
}

.news__container-inner {
  width: 100%;
  position: relative;
  z-index: 1;
}

.news__link {
  width: 100%;
  padding-block: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
  &:not(:last-of-type) {
    border-bottom: 1px solid #ebe6e6;
  }
}

.news__info {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news__date {
  line-height: normal;
}

.news__category {
  color: $color-text-white;
  font-size: 12px;
  line-height: normal;
  padding: 4px 20px;
  background: #ff9256;
  min-width: 112px;
  text-align: center;
  margin-left: 20px;
  @include mq(lg) {
    margin-left: 20px;
  }
}

.news__title {
  line-height: normal;
  margin-left: 20px;

  @include mq(md) {
    margin-left: 20px;
  }
  @include mq(lg) {
    margin-left: 40px;
  }
  @include mq(xl) {
    margin-left: 64px;
  }
}

.news__info {
}

//=====================================
//contents
//=====================================

//=====================================
//shop
//=====================================

//=====================================
//WITH DOG
//=====================================

//=====================================
//FAQ
//=====================================

//=====================================
//TICKET
//=====================================

//=====================================
//MAP
//=====================================

//=====================================
//ACCESS
//=====================================

//=====================================
//SPONSOR
//=====================================

//=====================================
//footer
//=====================================
